html, body, #root, .flex-container {
	width: 100%;
	height: 100%;
}
.flex-container {
	display: flex;
	flex-direction: column;
}
.flex-container>div:not(.menu) {
	flex-grow: 1;
	position: relative;
}
.compare-container .mapboxgl-map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.ui.map-control {
	position: absolute;
	margin: 0;
	left: 5px;
	top: 5px;
	z-index: 5;
}
.ui.map-control .segment {
	margin: 0 0.33em 0 0;
	float: left;
}
.ui.map-control.right {
	left: auto;
	right: 5px;
}
.ui.inverted .ui.toggle.checkbox label, .ui.inverted .ui.toggle.checkbox input:checked~label {
	color: white !important;
}
.ui.attached.menu.inverted {
	margin: 0;
	width: 100%;
	max-width: 100%;
	overflow: auto;
	border-radius: 0;
}
.ui.segment.accordion .title {
	padding: 0
}
