html, body, #root, #root>div {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#root>div {
	display: flex;
	flex-direction: column;
}
.leaflet-container {
	flex-grow: 1;
}
