html, body, #root, .flex-container {
	width: 100%;
	height: 100%;
}
.compare-container {
	flex-grow: 1;
	position: relative;
}
.flex-container {
	display: flex;
	flex-direction: column;
}
.mapboxgl-map {
	flex-grow: 1;
}
.compare-container .mapboxgl-map {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.ui.map-control {
	position: absolute;
	left: 5px;
	top: 5px;
	z-index: 1000;
}
.ui.inverted .ui.toggle.checkbox label, .ui.inverted .ui.toggle.checkbox input:checked~label {
	color: white !important;
}
.ui.segment.accordion .title {
	padding: 0
}
